about-time==4.2.1
accessible-pygments==0.0.5
addict==2.3.0
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1733750398730/work
alive-progress==3.2.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arviz==0.21.0
asttokens==3.0.0
async-lru==2.0.5
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1759762205280/work
autograd==1.7.0
ax-platform==0.4.3
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
beautifulsoup4==4.13.3
betterproto==2.0.0b6
binaryornot==0.4.4
bleach==6.2.0
botorch==0.12.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
build==1.2.2.post1
-e git+ssh://git@github.com/cadet/CADET-GUI.git@8f5c5724d18887e1d591e1568035bfba0b6fdb2c#egg=CADET_GUI
-e git+ssh://git@github.com/fau-advanced-separations/CADET-Process.git@30099cfad93bfc097cf5ff6a06b7aa19792d4252#egg=CADET_Process
-e git+ssh://git@github.com/cadet/CADET-Python.git@e2cb829425cbec23311a30381d07e81a85d09cb6#egg=CADET_Python
-e git+ssh://git@github.com/cadet/CADET-RDM.git@d312820781c52ce16d5c086dec49ac64ff4fcb2e#egg=CADET_RDM
cattrs==25.1.1
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1758716087526/work
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.2.1
cma==3.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.2
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428301407/work
cookiecutter==2.6.0
corner==2.2.3
coverage==7.9.0
cryptography==45.0.4
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.9
diskcache==5.6.3
distlib==0.3.9
doc8==2.0.0
docker==7.1.0
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1733217766141/work
esbonio==0.16.5
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1738940303262/work
fqdn==1.5.1
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.44
gpytorch==1.13
grapheme==0.6.0
greenlet==3.2.3
grpclib==0.4.7
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5netcdf==1.6.1
h5py==3.13.0
hagelkorn==1.2.3
hopsy==1.6.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.7
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
id==1.5.0
identify==2.6.9
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib_metadata==8.7.0
iniconfig==2.0.0
ipykernel==6.29.5
ipympl==0.9.7
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jaxtyping==0.2.19
jedi==0.19.2
jeepney==0.9.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1755595646/work
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-cache==1.0.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jupytext @ file:///home/conda/feedstock_root/build_artifacts/jupytext_1760887891664/work
keyring==25.6.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1736908181161/work
latexcodec==3.0.0
linear-operator==0.5.3
llvmlite==0.44.0
lsprotocol==2023.0.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mcbackend==0.5.2
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1754946772828/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune==3.1.2
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.2.0
multipledispatch==1.0.0
multiprocess==0.70.17
munkres==1.1.4
mypy-extensions==1.0.0
myst-nb==1.2.0
myst-parser==4.0.1
narwhals==1.31.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest-asyncio==1.6.0
networkx==3.4.2
nh3==0.2.21
nodeenv==1.9.1
notebook==7.3.3
notebook_shim==0.2.4
numba==0.61.0
numpy==2.1.3
numpydoc==1.8.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
openpyxl==3.1.5
opt_einsum==3.4.0
optlang==1.8.3
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878417179/work
pandocfilters==1.5.1
parso==0.8.4
pathos==0.3.3
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pbr==6.1.1
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929693903/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1759953252/work
plotly==6.0.1
pluggy==1.5.0
PolyRound==0.3.0
pox==0.3.5
ppft==1.7.6.9
pre_commit==4.1.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybtex==0.24.0
pybtex-docutils==1.0.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.11.7
pydantic_core==2.33.2
pydata-sphinx-theme==0.15.4
PyGithub==2.6.1
pygls==1.3.1
Pygments==2.19.1
PyJWT==2.10.1
pymoo==0.6.1.3
PyNaCl==1.5.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyproject_hooks==1.2.0
pyre-extensions==0.0.32
pyro-api==0.1.2
pyro-ppl==1.9.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pyspellchecker==0.8.3
pytest==8.3.5
pytest-cov==6.2.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-gitlab==6.1.0
python-json-logger==3.3.0
python-slugify==8.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML==6.0.2
pyzmq==26.3.0
readme_renderer==44.0
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
requests-toolbelt==1.0.0
restructuredtext_lint==1.4.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==14.0.0
roman-numerals-py @ file:///home/conda/feedstock_root/build_artifacts/roman-numerals-py_1740240236123/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rpds-py_1761178792/work
rstcheck==6.2.5
rstcheck-core==1.2.2
ruff==0.11.4
scikit-learn==1.6.1
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790643552/work/dist/scipy-1.15.2-cp312-cp312-linux_x86_64.whl#sha256=9c4c390e67a1320f6f3b418568855f0a6759c34ce8e5b9eb6cc90d02fd7ba711
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==75.8.2
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap==5.0.2
sniffio==1.3.1
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1747749415787/work
soupsieve==2.6
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1740956487887/work
sphinx-book-theme==1.1.4
sphinx-copybutton==0.5.2
sphinx-multiversion==0.2.4
sphinx-sitemap==2.6.0
sphinx_subfigure==0.2.4
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1733754101641/work
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1733754113405/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1733754280555/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1733753744933/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1733753408017/work
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.41
stack-data==0.6.3
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986688191/work
stevedore==5.4.1
swiglpk==5.0.12
sympy==1.13.1
tabulate==0.9.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1760014679/work
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
triton==3.2.0
twine==6.1.0
typeguard==4.4.4
typer==0.16.0
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692508163/work
uri-template==1.3.0
urllib3==2.3.0
virtualenv==20.29.3
wadler_lindig==0.1.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
widgetsnbextension==4.0.13
wrapt==1.17.2
xarray==2025.1.2
xarray-einstats==0.8.0
yuml @ https://github.com/wandernauta/yuml/zipball/master#sha256=d4a626cdc53eaa1f3b288855d32df423cd37f0d87ec95b6a2b9c406233c79fbc
zipp==3.23.0
zstandard==0.25.0
